<% include ./partials/header.ejs %>
        <main class="container">
            <!--Main Area-->
            <div class="jumbotron">
              <h1 class="display-4"> <%= title %>      </h1>
              <p class="lead">This is a simple  <%= title %> unit, a simple jumbotron-style component for calling extra attention to
                featured.</p>         
              
                <p><%= title %> <%= firstName %> <%= lastName %></p>
               
              <hr class="my-4">
              <p>This utility and content developed by Anupom Roy.</p>
              <a class="btn btn-primary btn-lg" href="https://www.linkedin.com/in/anupom-roy/" role="button">Learn more</a>
            </div>  
          </main>
    
  <% include ./partials/footer.ejs %>
