<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-11">
      <h1>
        <%= title %>
      </h1>
      <a class="btn btn-primary" href="/customer-list/add" role="button">
        <i class="fa fa-plus-square"></i> Add a Customer</a>
      <br>
      <table class="table table-bordered table-striped table-hover">
        <!--Header Row-->
        <tr>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">User Name</th>
          <th class="text-center">Sports</th>
          <th class="text-center">No of <br>Langs</th>
          <th class="text-center"> Customer Feedback</th>
          <th class="text-center">Modify </th>
          <th class="text-center">Remove</th>
        </tr>
        <!--Header Row-->
        <% for(let count = 0; count < customerList.length; count++) { %>
          <tr>
              <td class="text-center"><%= customerList[count].firstName %></td>
              <td class="text-center"><%= customerList[count].lastName %></td>
              <td class="text-center"><%= customerList[count].userName %></td>
              
              <td class="text-center"><%= customerList[count].favorateSports %></td>
              <td class="text-center"><%= customerList[count].noOfLanguage %></td>
              <td class="text-center"><%= customerList[count].feedback %></td>

              <td class="text-center">
                <a href="/customer-list/edit/<%= customerList[count]._id %>" class="btn btn-primary"><i class="fa fa-edit"></i>
                Edit</a>
                  
                </td>
                <td class="text-center">
                    <a href="/customer-list/delete/<%= customerList[count]._id %>" class="btn btn-danger"><i class="fa fa-trash"></i>
                    Delete</a>
            </tr>              
      <% } %>

      </table>

    </div>


  </div>
</div>



<% include ../partials/footer.ejs %>